<div class="tabs" data-tabs role="group" aria-labelledby="tabs-label">
  <p class="tabs__legend" id="tabs-label">Фасовка</p>
  <div class="tabs__list">

    <label class="tabs__item">
      <input type="radio" name="tabs" class="tabs__input" value="1" checked>
      <span class="tabs__label">Вариант 1</span>
    </label>

    <label class="tabs__item">
      <input type="radio" name="tabs" class="tabs__input" value="2">
      <span class="tabs__label">Вариант 2</span>
    </label>

  </div>
</div>
